apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: infisical
  namespace: infisical
spec:
  provider:
    infisical:
      auth:
        universalAuthCredentials:
          clientId:
            key: clientId
            namespace: infisical
            name: infisical-credentials
          clientSecret:
            key: clientSecret
            namespace: infisical
            name: infisical-credentials
      secretsScope:
        projectSlug: "{{infisical_project_slug}}"
        environmentSlug: "{{infisical_environment_slug}}"
        secretsPath: /
        recursive: true
      hostAPI: "{{infisical_endpoint}}"
