apiVersion: v1
kind: Secret
metadata:
  name: infisical-credentials
  namespace: infisical
type: Opaque
stringData:
  clientId: "{{infisical_client_id}}"
  clientSecret: "{{infisical_client_secret}}"
