apiVersion: v1
kind: Namespace
metadata:
  name: infisical
---
apiVersion: v1
kind: Secret
metadata:
  name: infisical-secrets
  namespace: infisical
type: Opaque
stringData:
  AUTH_SECRET: "{{infisical_auth_secret}}"
  ENCRYPTION_KEY: "{{infisical_encryption_key}}"
  SITE_URL: "{{infisical_site_url}}"
